<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Refactory Assignment by Muhammad Abyan Rizqo</title>
  <meta name="description" content="Description Goes Here">
  <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="splash-container">
        <div class="splash">
            <h1 class="splash-head">Refactory Assignment</h1>
            <p class="splash-subhead">
                <%= text %>
            </p>
            <p>
                <a href="<%= path %>" class="pure-button pure-button-primary"> <%= buttonText %> </a>
            </p>
        </div>
    </div>
</body>
</html>